body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    margin: 0%;
    padding: 0;
}

#tela_de_jogo {
    width: 500px;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    background-color: black;
}

#bola{
    position: absolute;
}