body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#principal{
    background-color: rgb(44, 146, 146);
    text-align: center;
    padding: 3em;
    margin: 0%;
    padding: 0%;
    border: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 6em;
    text-transform: uppercase;
    margin: 0%;
    padding: 0%;
    border: 0%;
}