* {
    cursor: default;
}

.botoes {
    cursor: pointer;
}

body{
    margin: 0%;
    padding: 0%;
    height: 100dvh;
    overflow: hidden;
}

#principal{
    background-color: rgb(44, 146, 146);
    text-align: center;
    padding: 3em;
    margin: 0%;
    padding: 0%;
    border: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    height: 100%;
}

#menu{
    width: 50%;
    height: 50%;
    border-radius: 1em;
    background-color: rgb(255, 251, 0);
    text-align: center;
    margin: 0%;
    padding: 0%;
    border: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#menu div{
    width: calc(100%);
    height: calc(100% / 4);
    transition: transform 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 900;
}

#menu div:hover{
    background-color: blue;
    color: aqua;
    transform: scale(1.5);
    
}

#audio, #configuracoes{
    width: 3em;
    position: absolute;
    transition: 0.8s;
}

#audio{
    bottom: 3em;
    right: 3em;
}

#configuracoes{
    top: 3em;
    right: 3em;
}

#audio:hover, #configuracoes:hover{
    width: 6em;
    position: absolute;
    padding: 1em;
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
}

#audio:hover{
    bottom: 1.5em;
    right: 1.5em;
}

#configuracoes:hover{
    top: 1.5em;
    right: 1.5em;
}

/* ----------------------------------------------------------caixa de configuração------------------------------------------------------------------- */

.menu_segundario {
    width: 25em;
    height: 25em;
    max-width: 90%;
    max-height: 90%;
    background-color: rgb(216, 241, 231);
    display: flex;
    position: absolute;
    overflow: hidden;
}

/*-----------------------------------------------------------configurações menu segundario-----------------------------------------------------------*/

/* parte lateral esquerdo do menu segundario */
#lateralEsquerdo {
    min-width: 7em;
    height: 100%;
    background-color: rgb(145, 138, 138);
    border: 1px solid rgb(73, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

/* botões secundários (dentro do menu segundário) */
.botao_segudario {
    width: 6em;
    height: 3em;
    margin: 0.5em;
    font-size: 0.8em;
    background-color: rgb(255, 251, 0);
    border: 1px solid rgb(73, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 60, 255);
}

/* passar mouse em cima do botão secundario */

.botao_segudario:hover {
    scale: 1.1;
    background-color: rgb(72, 255, 0);
    border: 1px solid rgb(148, 71, 71);
    color: rgb(255, 0, 0);
}

/* x para sair das configurações */

#imagemX {
    width: 1em;
    right: 1px;
    padding: 5px;
    top: 1px;
    position: absolute;
}

/* parte direita do menu segundario */
#lateralDireito {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* botões internos (parte direita do menu segundário) */
.botao_interno {
    padding: 0.5em;
    width: 85% ;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgb(195, 204, 152);
    margin-top: 2em;
    color: rgb(21, 6, 153);
    margin-left: auto;
    margin-right: auto;
    
}

select {
    margin-left: 1em;
}