body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    margin: 0%;
    padding: 0;
    border: 0%;
}

#tela_de_jogo {
    margin: 0%;
    padding: 0;
    border: 0%;
    width: 1366px;
    height: 768px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    background-color: black;
}

